.App {
  margin: 0;
  display: grid;
  grid-template-rows: 80px 70px 4fr 4fr;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-areas:  "sidebar search search"
                        "sidebar directory directory"
                        "sidebar gallery gallery"
                        "sidebar gallery gallery"
}

img {
  max-width: 100%;
  max-height: 100%;
}

.directory {
  grid-area: directory;
  border: 1px solid black;
}

.gallery {
  grid-area: gallery;
  border: 1px solid black;
}

.help {
  grid-area: help;
  border: 1px solid black;
}

.card {
  margin: 1vw;
  grid-area: posting;
  float: left;
  width: 44%;
  height: 45%;
  border: 1px solid black;
}

.search {
  /* font-size: 5vh; */
  grid-area: searchbar;
  border: 1px solid black;
}

.sidebar {
  grid-area: sidebar;
  border: 1px solid black;
}

.floatLeft
{
   float: left;
}

.clearfix::after {
   content: "";
   clear: both;
   display: table;
}